<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Email</title>
    <style>
      .main-container { color: #000000; flex-direction: column;
      background-color:#ffffff; font-family: Arial, Helvetica, sans-serif;
      font-weight: bold; box-sizing: border-box; }
      .match-title { text-align: center; font-size: 24px }
      .hero-name { vertical-align: middle; }
      .hero-img { height: 24px; margin-left: 4px; vertical-align: middle; }
      .awesome { color: #1976d2; font-size: 20px; }
      .good { color: #4caf50; font-size: 20px; }
      .normal { color: grey; font-size: 20px; }
      .bad { color: #ff9800; font-size: 20px; }
      .awful { color: red; font-size: 20px; }
    </style>
  </head>
  <body>
    <div class="main-container">
      <div class="match-title">{{team_name_radiant}}
        vs
        {{team_name_dire}},
        {{radiant_score}}
        :
        {{dire_score}}
      </div>
      <div class="match-title">
        Stats:
        {{radiantStats}}
        vs
        {{direStats}}
      </div>
      <table>
        <tr>
          <th>
            Hero
          </th>
          <th>
            Rank
          </th>
          <th>
            Popular
          </th>
          <th>
            Total Games
          </th>
          <th>
            Winrate
          </th>
        </tr>
        {{#each currentRadiantHeroes}}
          <tr>
            <td>
                <span class="hero-name">{{heroName}}</span>
                <img class="hero-img" src={{heroImageLink}} />
            </td>

            {{#if (isAwesomeRank playerStats.leaderboard_rank)}}
              <td class="awesome">
                {{playerStats.leaderboard_rank}}
              </td>
            {{/if}}
            {{#if (isGoodRank playerStats.leaderboard_rank)}}
              <td class="good">
                {{playerStats.leaderboard_rank}}
              </td>
            {{/if}}
            {{#if (isNormalRank playerStats.leaderboard_rank)}}
              <td class="normal">
                {{playerStats.leaderboard_rank}}
              </td>
            {{/if}}
            {{#if (isBadRank playerStats.leaderboard_rank)}}
              <td class="bad">
                {{playerStats.leaderboard_rank}}
              </td>
            {{/if}}
            {{#if (isAwfulRank playerStats.leaderboard_rank)}}
              <td class="awful">
                {{playerStats.leaderboard_rank}}
              </td>
            {{/if}}

            {{#if (isAwesomePopular heroStats.heroIndex)}}
              <td class="awesome">
                {{heroStats.heroIndex}}
              </td>
            {{/if}}
            {{#if (isGoodPopular heroStats.heroIndex)}}
              <td class="good">
                {{heroStats.heroIndex}}
              </td>
            {{/if}}
            {{#if (isNormalPopular heroStats.heroIndex)}}
              <td class="normal">
                {{heroStats.heroIndex}}
              </td>
            {{/if}}
            {{#if (isBadPopular heroStats.heroIndex)}}
              <td class="bad">
                {{heroStats.heroIndex}}
              </td>
            {{/if}}
            {{#if (isAwfulPopular heroStats.heroIndex)}}
              <td class="awful">
                {{heroStats.heroIndex}}
              </td>
            {{/if}}

            {{#if (isAwesomeTotalGames heroStats.games)}}
              <td class="awesome">
                {{heroStats.games}}
              </td>
            {{/if}}
            {{#if (isGoodTotalGames heroStats.games)}}
              <td class="good">
                {{heroStats.games}}
              </td>
            {{/if}}
            {{#if (isNormalTotalGames heroStats.games)}}
              <td class="normal">
                {{heroStats.games}}
              </td>
            {{/if}}
            {{#if (isBadTotalGames heroStats.games)}}
              <td class="bad">
                {{heroStats.games}}
              </td>
            {{/if}}
            {{#if (isAwfulTotalGames heroStats.games)}}
              <td class="awful">
                {{heroStats.games}}
              </td>
            {{/if}}

            {{#if (isAwesomeWinrate heroStats.winrate)}}
              <td class="awesome">
                {{heroStats.winrate}}
                %
              </td>
            {{/if}}
            {{#if (isGoodWinrate heroStats.winrate)}}
              <td class="good">
                {{heroStats.winrate}}
                %
              </td>
            {{/if}}
            {{#if (isNormalWinrate heroStats.winrate)}}
              <td class="normal">
                {{heroStats.winrate}}
                %
              </td>
            {{/if}}
            {{#if (isBadWinrate heroStats.winrate)}}
              <td class="bad">
                {{heroStats.winrate}}
                %
              </td>
            {{/if}}
            {{#if (isAwfulWinrate heroStats.winrate)}}
              <td class="awful">
                {{heroStats.winrate}}
                %
              </td>
            {{/if}}
          </tr>
        {{/each}}
        <tr>
          <td>
            <hr />
          </td>
          <td>
            <hr />
          </td>
          <td>
            <hr />
          </td>
          <td>
            <hr />
          </td>
          <td>
            <hr />
          </td>
        </tr>
        {{#each currentDireHeroes}}
          <tr>
            <td>
                <span class="hero-name">{{heroName}}</span>
                <img class="hero-img" src={{heroImageLink}} />
            </td>

            {{#if (isAwesomeRank playerStats.leaderboard_rank)}}
              <td class="awesome">
                {{playerStats.leaderboard_rank}}
              </td>
            {{/if}}
            {{#if (isGoodRank playerStats.leaderboard_rank)}}
              <td class="good">
                {{playerStats.leaderboard_rank}}
              </td>
            {{/if}}
            {{#if (isNormalRank playerStats.leaderboard_rank)}}
              <td class="normal">
                {{playerStats.leaderboard_rank}}
              </td>
            {{/if}}
            {{#if (isBadRank playerStats.leaderboard_rank)}}
              <td class="bad">
                {{playerStats.leaderboard_rank}}
              </td>
            {{/if}}
            {{#if (isAwfulRank playerStats.leaderboard_rank)}}
              <td class="awful">
                {{playerStats.leaderboard_rank}}
              </td>
            {{/if}}

            {{#if (isAwesomePopular heroStats.heroIndex)}}
              <td class="awesome">
                {{heroStats.heroIndex}}
              </td>
            {{/if}}
            {{#if (isGoodPopular heroStats.heroIndex)}}
              <td class="good">
                {{heroStats.heroIndex}}
              </td>
            {{/if}}
            {{#if (isNormalPopular heroStats.heroIndex)}}
              <td class="normal">
                {{heroStats.heroIndex}}
              </td>
            {{/if}}
            {{#if (isBadPopular heroStats.heroIndex)}}
              <td class="bad">
                {{heroStats.heroIndex}}
              </td>
            {{/if}}
            {{#if (isAwfulPopular heroStats.heroIndex)}}
              <td class="awful">
                {{heroStats.heroIndex}}
              </td>
            {{/if}}

            {{#if (isAwesomeTotalGames heroStats.games)}}
              <td class="awesome">
                {{heroStats.games}}
              </td>
            {{/if}}
            {{#if (isGoodTotalGames heroStats.games)}}
              <td class="good">
                {{heroStats.games}}
              </td>
            {{/if}}
            {{#if (isNormalTotalGames heroStats.games)}}
              <td class="normal">
                {{heroStats.games}}
              </td>
            {{/if}}
            {{#if (isBadTotalGames heroStats.games)}}
              <td class="bad">
                {{heroStats.games}}
              </td>
            {{/if}}
            {{#if (isAwfulTotalGames heroStats.games)}}
              <td class="awful">
                {{heroStats.games}}
              </td>
            {{/if}}

            {{#if (isAwesomeWinrate heroStats.winrate)}}
              <td class="awesome">
                {{heroStats.winrate}}
                %
              </td>
            {{/if}}
            {{#if (isGoodWinrate heroStats.winrate)}}
              <td class="good">
                {{heroStats.winrate}}
                %
              </td>
            {{/if}}
            {{#if (isNormalWinrate heroStats.winrate)}}
              <td class="normal">
                {{heroStats.winrate}}
                %
              </td>
            {{/if}}
            {{#if (isBadWinrate heroStats.winrate)}}
              <td class="bad">
                {{heroStats.winrate}}
                %
              </td>
            {{/if}}
            {{#if (isAwfulWinrate heroStats.winrate)}}
              <td class="awful">
                {{heroStats.winrate}}
                %
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>